@import "./SidebarPremium.css";

.smart-sidebar-nav::-webkit-scrollbar {
  width: 6px;
}
.smart-sidebar-nav::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
.smart-sidebar-nav::-webkit-scrollbar-track {
  background: transparent;
}
