@import "./SidebarPremium.css";


.smart-sidebar-nav {
  scrollbar-width: none;      
  -ms-overflow-style: none;   
}

.smart-sidebar-nav::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
.smart-sidebar-nav::-webkit-scrollbar-thumb {
  background: transparent;
}
.smart-sidebar-nav::-webkit-scrollbar-track {
  background: transparent;
}

.smart-sidebar-nav {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
